[user]
  email = kovey.1@osu.edu
  name = Chris Kovey
[core]
	autocrlf = false
  fileMode = false
  editor = nano
  excludesfile = /home/chris/.gitignore_global
  safecrlf = false
[color]
  branch = auto
  diff = auto
  status = auto
	ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
added = green
changed = yellow bold
untracked = red bold
